

.tsdb
  font-size: 0.9rem
  margin: 0.5rem 0.3rem
  padding: 0.3rem 0.5rem 0.3rem 0.5rem
  display: inline-block
  color: $white-text-color
  background-color: $secondary-color
  border-radius: 0.5rem
  font-weight: 600
  span
    font-family: "Open Sans", sans-serif
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5)
  .fa
    padding: 0 0.4rem

@media #{$medium-up}
  .tsdb
    font-size: 1.1rem


