@import "settings"


header
  background: $dark-hero-bg
  position: relative
  overflow: visible
  z-index: 10

  > .row
    position: relative
    z-index: 50

  .header-bg
    position: absolute
    top: 0
    right: 0
    left: 0
    height: 100%
    background-image: url(/assets/img/v2/home_hero_bg.jpg)
    background-position: center 35%
    background-repeat: no-repeat
    background-size: cover
    z-index: 2

  &:before,
  &:after
    right: 0
    width: 105%
    z-index: 1

  &:before
    background: #003a99
    opacity: .11

  &:after
    background: #994400
    opacity: .11

  .hero-radial
    padding: 6rem 0 2.5rem
    text-align: center

  h1
    font-family: "Open Sans", sans-serif
    margin: 0
    padding: 2.5rem
    line-height: 1.3
    font-size: 2.2rem
    text-shadow: 0px 0px 10px #000
    color: white
    font-weight: normal

  h2
    font-family: "PT Sans", sans-serif
    font-size: 20px
    color: white
    font-weight: 100

.sponsor-wrapper
  margin-bottom: 40px

  h3
    color: #161616
    font-size: 0.9rem
    font-weight: bold
    padding-top: 1.6rem
    text-transform: uppercase

  .squarespace
    padding: 0 20px
    display: inline-block

  .dreamhost
    padding: 0 20px
    display: inline-block


  .mediamath
    padding: 0 20px
    display: inline-block


  .demonware
    padding: 0 20px
    display: inline-block

.main-content
  a
    font-weight: bold

.special
  color: $primary-color
  font-weight: bold
  font-size: 2.1rem
  line-height: 1.2

.used-by
  border-top: 3px solid $secondary-color
  border-bottom: 3px solid $secondary-color
  padding-bottom: 1rem
  margin-bottom: 20px

  h3
    color: #999999
    font-size: 0.9rem
    font-weight: bold
    padding-top: 1.6rem
    text-transform: uppercase

  img
    padding: 0 40px

  .used-by-images
    text-align: center

.tsdb-list
  padding: 0 0 1rem 0
  font-size: 0.9rem

.tsdb
  padding: 0.3rem 1rem 0.3rem 0.5rem
  display: inline-block
  color: white
  margin: 0 0.5rem
  background-image: url(/assets/img/v2/testimonial_bg_red.jpg)
  background-size: 400%
  background-position: 0 20%
  background-repeat: no-repeat
  border-radius: 0.5rem
  font-weight: 600
  span
    font-family: "Open Sans", sans-serif
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5)
  .fa
    padding: 0 0.4rem

.button-version
  font-size: 70%
  opacity: $button-disabled-opacity

@media #{$medium-up}
  .tsdb-list
    display: block
    font-size: 1.1rem

  header
    margin-bottom: 80px

    .header-bg,
      height: 130%

    .header-bg, &:before, &:after
      content: ''
      position: absolute
      top: 0
      -webkit-mask: url(/assets/img/v2/hero_mask.svg) no-repeat bottom
      mask: url(/assets/img/v2/hero_mask.svg) no-repeat 50% 50%
      -webkit-mask-size: cover
      mask-size: cover

    &:before
      width: 105%
      height: 135%
    &:after
      width: 105%
      height: 132%

@media #{$large-up}
  header
    .header-bg
      height: 135%

    &:before
      width: 102%
      height: 140%
    &:after
      width: 100%
      height: 137%

@media #{$xxlarge-up}

  header
    .header-bg
      height: 143%
    &:before
      width: 101%
      height: 148%
    &:after
      width: 100%
      height: 145%
