
header
  background: $dark-hero-bg
  background-image: url('/assets/img/banner_screenshot3.jpg')
  height: 30rem
  background-position: center 35%

  .hero-radial
    padding: 11rem 0 2.5rem
    text-align: center

  h1
    font-family: "PT Sans", sans-serif
    line-height: 1.0
    font-size: 1.9rem
    text-shadow: 1px 1px #999999
    color: white
    font-weight: normal
  h2
    font-family: "PT Sans", sans-serif
    font-size: 20px
    color: white
    font-weight: 100

.sponsor-wrapper
  border-top: 1px solid black
  border-bottom: 1px solid black
  box-shadow: 0px 2px 3px #111
  position: relative
  z-index: 100

  .squarespace
    width: 220px
    padding: 0
    display: inline-block
  .dreamhost
    padding: 0
    display: inline-block
    width: 200px

.sponsor-header
  background: #191919
  border-top: 1px solid #333
  border-bottom: 1px solid #333
  padding: 0.5rem 0.4rem

  h3
    color: #C1C1C1
    font-size: 1.1rem
    padding-top: 1.5rem
  a
    padding-right: 1.5rem

.used-by
  background: $dark-hero-bg
  padding: 1rem
  box-shadow: 0px 1px 4px #111
  position: relative
  z-index: 10

  h3
    font-size: 1.1rem
    color: #C1C1C1
    padding-top: 0.7rem
  img
    margin-right: 1.5rem

  .used-by-images
    text-align: center


