@import url("//fonts.googleapis.com/css?family=PT+Sans:400,700")
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700")
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700")

@import "settings"

@import "../bower_components/foundation/scss/normalize"
@import "../bower_components/foundation/scss/foundation"

@import "modules/docs"
@import "modules/highlighting"
@import "vendor/blueimp-gallery.min"


h1, h2, h3, h4, h5, h6
  font-family: "Source Sans Pro", sans-serif
  font-weight: 400
  -webkit-font-smoothing: antialiased

h1
  color: #0090BA
  font-weight: 700
  margin-top: 20px
  text-shadow: 1px 1px #cccccc

h2
  font-size: 32px
  font-weight: 700
  color: #0090BA

h2, h3, h4, h5, h6
  color: #0090BA

h3
  font-weight: 600

pre.highlight
  font-size: 15px
  background: #F1F1F1

ul.title-area
  li.name
    img
      margin: 10px 0 0 20px

section.nav
  position: relative
  background-color: $topbar-bg
  box-shadow: 0 1px 5px #181818
  z-index: 100

#top-bar-button
  background: $primary-color
  margin-top: 1.1rem
  font-weight: bold
  border-radius: 2px

header
  background: $dark-hero-bg

  .hero-radial
    padding: 2.5rem 0 2.5rem
    text-align: center

  h1
    font-family: "PT Sans", sans-serif
    line-height: 1.0
    font-size: 1.9rem
    text-shadow: 1px 1px #999999
    color: white
    font-weight: 700
  h2
    font-family: "PT Sans", sans-serif
    font-size: 20px
    color: white
    font-weight: 100

  .hero-image
    padding-top: 0.5rem
    box-shadow: -3px -3px 20px #444

.tweets
  background: #EEE
  border-bottom: 1px solid #DDD
  .row:not(:first-child)
    .tweet
      border-top: 1px solid white

.tweet:nth-child(odd)
  background: #F8F8F8

.tweet
  padding: 1rem
  display: table
  font-size: 0.8rem
  strong a
    font-weight: bold
    color: black
  a, p
    font-size: 0.9rem
  p
    margin-bottom: 0.5rem

.tweet:not(:last-child)
  border-right: 1px solid white

.tweet-header
  display: table

.tweet-author
  display: table-cell
  vertical-align: middle

.tweet-image
  display: table-cell
  vertical-align: middle
  padding-right: 0.5rem

.feature-header
  padding: 0.7rem
  background: $features-banner-bg
  background-image: url(/assets/img/graph_trans_bg2.png)
  background-position: 0 50%
  h3
    color: #f1f1f1
    font-size: 1.6rem

section.features
  .feature-highlight
    li, p
      font-size: 1.2rem
    h3
      font-size: 2.5rem
  img
    box-shadow: 2px 2px 10px #666

footer
  background-color: $topbar-bg
  color: white
  font-size: 1.4rem
  section.newsletter
    padding: 1rem 0 0 0
    text-align: center
    h3
      color: white
  .footer-social
    font-size: 1.0rem
    display: inline-block
    padding: 1rem 0 1rem 0
    list-style: none
    li
      float: left
      margin-right: 3rem
    .fa
      margin-right: 0.7rem
      font-size: 1.3rem
      position: relative
      top: 2px
  .copyright
    font-size: 1rem
    padding-bottom: 3rem
    iframe
      margin-left: 1rem
      position: relative
      top: 3px

.hero-social
  padding-top: 0.5rem

.splitter
  background-position: center bottom
  padding: 3px
  margin-bottom: 20px 15px
  background-repeat: no-repeat
  background-color: #698395

body
  p, a
    font-weight: 300

  h2 > a
    font-weight: 700

section.main
  margin-bottom: 100px

pre
  background-color: #c0c0c0
  padding: 10px
  margin-bottom: 20px
  code
    color: #333
    font-weight: 100


.padding-top-medium
  padding-top: 20px
.padding-bottom-medium
  padding-bottom: 20px

.padding-bottom-large
  padding-bottom: 40px

.panel
  p
    &:last-child
      margin-bottom: 0

body.blog
  section
    h2
      line-height: 1.2em
      margin-bottom: 0
    h4.subheader

    p#twitter
      margin-top: 4px
      text-align: right

    ul
      margin-left: 20px

.install-steps
  padding-bottom: rem-calc(20)

  .install-step
    padding-top: rem-calc(10)
    .install-step-header
      font-weight: bold
      font-size: rem-calc(23)
      color: #666
    .install-step-icon
      padding: rem-calc(20)
      font-size: rem-calc(70)
      color: #666


