@import "../bower_components/foundation/scss/foundation/functions";

$body-bg: #FFF;
$body-font-color: #222;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

$row-width: rem-calc(1148);

$dark-hero-bg: #1f1f1f;
$features-banner-bg: #0099CC;


$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(25);
$h3-font-size: rem-calc(20);
$h4-font-size: rem-calc(17);
$h5-font-size: rem-calc(15);
$h6-font-size: 1rem;

$tertiary-color: gray;
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$grafana-top-nav-bg: rgba(0, 0, 0, 0.6);
$topbar-bg: transparent;
$topbar-dropdown-bg: transparent;
$topbar-dropdown-bg: transparent;

$topbar-height: 80px;

$topbar-link-color: #fff;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-color-active-hover: #fff;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(16);
$topbar-link-hover-lightness: 10%; // Darken by 10%
$topbar-link-bg-hover: #333;
$topbar-link-bg-active: transparent;
$topbar-link-bg-active-hover: scale-color($topbar-link-bg-hover, $lightness: 10%);
$topbar-link-padding: 18px;


// $topbar-link-font-family: $body-font-family;

$topbar-button-font-size: 1.75rem;

$topbar-breakpoint: 51; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: 53em)";
