@import "../bower_components/foundation/scss/foundation/functions";

$body-bg: #FFF;
$body-font-color: #222;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

$row-width: rem-calc(1148);

$dark-hero-bg: #1f1f1f;
$features-banner-bg: #0099CC;

//$primary-color: #0099CC;
//$primary-color: #0099CC;
// @blue:                  #33B5E5;
// @blueDark:              #0099CC;
// @green:                 #669900;
// @red:                   #CC0000;
// @yellow:                #ECBB13;
// @orange:                #FF8800;
// @pink:                  #FF4444;
// @purple:                #9933CC;

$topbar-bg: #222;

$topbar-height: 80px;

$topbar-link-color: #fff;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-color-active-hover: #fff;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(16);
$topbar-link-hover-lightness: 10%; // Darken by 10%
$topbar-link-bg-hover: #333;
$topbar-link-bg-active: transparent;
$topbar-link-bg-active-hover: scale-color($topbar-link-bg-hover, $lightness: 10%);
$topbar-link-padding: rem-calc(20);
// $topbar-link-font-family: $body-font-family;

$topbar-button-font-size: 1.75rem;
