.tweet-line-wrapper
  .tweet-line
    img src="/assets/images/twitter_blue.png" width="35" height="35"

/ .feature-header
/   .row.text-center
/     h3 Twitter love

div.tweets
  .row
    .tweet.medium-4.columns
      .tweet-text
        <p>GRAFANA!, up and running with a kick ass <a href="https://twitter.com/search?q=%23graphite&amp;src=hash">#graphite</a> dashboard replacement  in  less than 2h thx <a href="https://twitter.com/torkelo">@torkelo</a> <a href="https://twitter.com/search?q=%23devops&amp;src=hash">#devops</a> hero </p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/2229679072/portrait_bw_square_normal.png" alt="Jaime Gago"
        .tweet-author
          <strong><a href="https://twitter.com/JaimeGagoTech/statuses/446398708264239105">Jaime Gago</a></strong> <span>@JaimeGagoTech</span>
    .tweet.medium-4.columns
      .tweet-text
        <p><a href="https://twitter.com/torkelo">@torkelo</a> Just discovered the best Graphite dashboard bar-none: Grafana. Simply awesome. Thanks Torkel! <a href="https://twitter.com/search?q=%23grafana&amp;src=hash">#grafana</a> <a href="https://twitter.com/search?q=%23graphite&amp;src=hash">#graphite</a></p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/2551510272/n5cbxovnevlkhnmdl06u_normal.jpeg" alt="Chris Madden"
        .tweet-author
          <strong><a href="https://twitter.com/dutchiechris/statuses/442936085292019712">Chris Madden</a></strong> <span>@dutchiechris</span>
    .tweet.medium-4.columns
      .tweet-text
        <p>Just came across <a href="http://grafana.org">grafana.org</a> by <a href="https://twitter.com/torkelo">@torkelo</a>, pretty sure this is THE best thing ever. <a href="https://twitter.com/search?q=%23grafana&amp;src=hash">#grafana</a> <a href="https://twitter.com/search?q=%23graphite&amp;src=hash">#graphite</a><br/><br/></p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/378800000567631900/c9dcd912c4323e2315490fecc8f9b5a9_normal.jpeg" alt="George Brown"
        .tweet-author
          <strong><a href="https://twitter.com/georgeb_/statuses/441589023942139904">George Brown</a></strong> <span>@georgeb_</span>

    .tweet.medium-4.columns
      .tweet-text
        <p>GRAFANA!, up and running with a kick ass <a href="https://twitter.com/search?q=%23graphite&amp;src=hash">#graphite</a> dashboard replacement  in  less than 2h thx <a href="https://twitter.com/torkelo">@torkelo</a> <a href="https://twitter.com/search?q=%23devops&amp;src=hash">#devops</a> hero </p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/2229679072/portrait_bw_square_normal.png" alt="Jaime Gago"
        .tweet-author
          <strong><a href="https://twitter.com/JaimeGagoTech/statuses/446398708264239105">Jaime Gago</a></strong> <span>@JaimeGagoTech</span>
    .tweet.medium-4.columns
      .tweet-text
        <p><a href="https://twitter.com/torkelo">@torkelo</a> Just discovered the best Graphite dashboard bar-none: Grafana. Simply awesome. Thanks Torkel! <a href="https://twitter.com/search?q=%23grafana&amp;src=hash">#grafana</a> <a href="https://twitter.com/search?q=%23graphite&amp;src=hash">#graphite</a></p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/2551510272/n5cbxovnevlkhnmdl06u_normal.jpeg" alt="Chris Madden"
        .tweet-author
          <strong><a href="https://twitter.com/dutchiechris/statuses/442936085292019712">Chris Madden</a></strong> <span>@dutchiechris</span>
    .tweet.medium-4.columns
      .tweet-text
        <p>Just came across <a href="http://grafana.org">grafana.org</a> by <a href="https://twitter.com/torkelo">@torkelo</a>, pretty sure this is THE best thing ever. <a href="https://twitter.com/search?q=%23grafana&amp;src=hash">#grafana</a> <a href="https://twitter.com/search?q=%23graphite&amp;src=hash">#graphite</a><br/><br/></p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/378800000567631900/c9dcd912c4323e2315490fecc8f9b5a9_normal.jpeg" alt="George Brown"
        .tweet-author
          <strong><a href="https://twitter.com/georgeb_/statuses/441589023942139904">George Brown</a></strong> <span>@georgeb_</span>
