div.tweets
  .row
    .tweet.medium-4.columns
      .tweet-text
        <p>GRAFANA!, up and running with a kick ass <a href="https://twitter.com/search?q=%23graphite&amp;src=hash">#graphite</a> dashboard replacement  in  less than 2h thx <a href="https://twitter.com/torkelo">@torkelo</a> <a href="https://twitter.com/search?q=%23devops&amp;src=hash">#devops</a> hero </p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/473215841563979777/x3IioVfm_normal.jpeg" alt="Jaime Gago"
        .tweet-author
          <strong><a href="https://twitter.com/JaimeGagoTech/statuses/446398708264239105">Jaime Gago</a></strong> <span>@JaimeGagoTech</span>
    .tweet.medium-4.columns
      .tweet-text
        <p><a href="https://twitter.com/torkelo">@torkelo</a> Just discovered the best Graphite dashboard bar-none: Grafana. Simply awesome. Thanks Torkel! <a href="https://twitter.com/search?q=%23grafana&amp;src=hash">#grafana</a> <a href="https://twitter.com/search?q=%23graphite&amp;src=hash">#graphite</a></p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/2551510272/n5cbxovnevlkhnmdl06u_normal.jpeg" alt="Chris Madden"
        .tweet-author
          <strong><a href="https://twitter.com/dutchiechris/statuses/442936085292019712">Chris Madden</a></strong> <span>@dutchiechris</span>
    .tweet.medium-4.columns
      .tweet-text
        <p>Just came across <a href="http://grafana.org">grafana.org</a> by <a href="https://twitter.com/torkelo">@torkelo</a>, pretty sure this is THE best thing ever. <a href="https://twitter.com/search?q=%23grafana&amp;src=hash">#grafana</a> <a href="https://twitter.com/search?q=%23graphite&amp;src=hash">#graphite</a><br/><br/></p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/378800000567631900/c9dcd912c4323e2315490fecc8f9b5a9_normal.jpeg" alt="George Brown"
        .tweet-author
          <strong><a href="https://twitter.com/georgeb_/statuses/441589023942139904">George Brown</a></strong> <span>@georgeb_</span>

    .tweet.medium-4.columns
      .tweet-text
        <p>In the process of converting Mojangs main <a href="https://twitter.com/search?q=%23Graphite&amp;src=hash">#Graphite</a> dashboards to <a href="https://twitter.com/search?q=%23Grafana&amp;src=hash">#Grafana</a>. So much slicker and simpler. Thanks <a href="https://twitter.com/torkelo">@torkelo</a>!</p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/1630123309/xlson_mojang_cropped_normal.png" alt="Leonard Axelsson"
        .tweet-author
          <strong><a href="https://twitter.com/xlson/statuses/435796091574190080">Leonard Axelsson</a></strong> <span>@xlson</span>

    .tweet.medium-4.columns
      .tweet-text
        <p>Grafana <a href="http://t.co/lvhH3YH30Z">grafana.org</a> because we deserve a proper Graphite dashboard<br/><br/></p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/378800000045323076/8355e0bb4b3b27a90ee35497cf8c34e5_normal.jpeg" alt="Assaf Arkin"
        .tweet-author
          <strong><a href="https://twitter.com/assaf/statuses/434793682852532224">Assaf Arkin</a></strong> <span>@assaf</span>

    .tweet.medium-4.columns
      .tweet-text
        <p><a href="https://twitter.com/thatcks">@thatcks</a> if i may, i highly recommend grafana from <a href="https://twitter.com/torkelo">@torkelo</a> via <a href="https://twitter.com/rashidkpc">@rashidkpc</a> - works like a charm for us<br/><br/></p>
      .tweet-header
        .tweet-image
          img src="https://pbs.twimg.com/profile_images/453401163845468160/iDPYv0i8_normal.png"
        .tweet-author
          <strong><a href="https://twitter.com/arh_rp/statuses/454331838606376960">Andrew Hodgson</a></strong> <span>@arh_rp</span>
