---
title: Support
---

.page-header
  .page-header-bg
  .row
    .large-12.columns
      h1 Support

.page-content
  .row
    .large-12.columns
      p
        'Have a question about Grafana? Need to log an issue? Contact us below for help and support.

  .curated-content
    .row
      .medium-6.columns.community-icons
          h3.gamma.curated-header Get in Touch
          br
          .padding-bottom-medium
            icon.fa.fa-exclamation-circle
            p
              'Log issues on
              a href="https://github.com/grafana/grafana/issues" GitHub
              '.

          .padding-bottom-medium
              icon.fa.fa-github
              p
                'Check out the
                a href="https://github.com/grafana/grafana" source code
                '.

          .padding-bottom-medium
            icon.fa.fa-comments
            p
              'Join the
              a href="https://groups.io/org/groupsio/grafana" mailing list for users and developers
              '.

          .padding-bottom-medium
              icon.fa.fa-twitter
              p
                'Follow
                a href="https://twitter.com/grafana" @grafana
                '  on twitter.

          .padding-bottom-medium
              icon.fa.fa-google-plus
              p
                'The
                a href="https://plus.google.com/communities/102494554956731787258" Grafana community
                '  on Google Plus.

          .padding-bottom-medium
              icon.fa.fa-facebook-square
              p
                'Like the
                a href="https://www.facebook.com/grafana" Grafana Facebook Group
                '.

          .padding-bottom-medium
              icon.fa.fa-comment
              p
                'Chat on freenode in #grafana.

      .medium-6.columns.community-icons
        h3.gamma.curated-header Grafana Support Plans
        h4
          'Support plans are now available through
          a href="Grafana.net" Grafana.net!
        p
          ' Get unlimited support, expert advice and fast responses directly from the core Grafana team.
          br
          br
          a.button.radius href="http://grafana.net/support/plans" Learn more and sign up for a support plan

