---
title: Builds
---

.row
  .large-12.columns
    br

    p
      | Package has some layout changes, please read this issue before upgrading:
      a href="https://github.com/grafana/grafana/issues/1758" #1758

    h2 Latest builds from master

    table id="ci-latest"
      tr
        th OS
        th Download link
        th Build date

    h2 Builds

    table id="ci-builds"
      tr
        th OS
        th Download link
        th Build date



script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"
script src="/assets/javascripts/builds.js"


