---
title: Community
---

.page-header
  .page-header-bg
  .row
    .large-12.columns
      h1 Community

.page-content
  .row
    .large-12.columns
      p
        'Grafana is an open-source project which relies heavily on community involvement. You can
        ' get involved in many ways for example: provide feedback, contribute features or bugfixes,
        ' improve to the documentation, answer user questions and help adoption.

  .row
    .large-12.columns
      h3.gamma.curated-header Events & Meetups
      br
      p. 
    .large-4.columns
        a href="https://www.percona.com/live/data-performance-conference-2016/registration"
          img src="/assets/img/percona_live_2016.png" width="350" class="no-shadow"
    .large-8.columns
      h4
        a href="https://www.percona.com/live/data-performance-conference-2016/registration" Fall In Love With Graphs And Metrics Using Grafana
      p.beta Santa Clara, CA | April 19, 11:30 AM - 12:20 PM at Ballroom D
      p Torkel will provide an introduction to the open source software Grafana, a graph and dashboard composer with rich metric query builders and visualizations. Learn why Grafana has quickly become the leading frontend for visualizing time series metrics. Grafana supports time series databases like Graphite, InfluxDB, OpenTSDB and Elasticsearch. A demo rich session that will also show the latest features, use cases and tips & tricks.
      a.button.radius href="https://www.percona.com/live/data-performance-conference-2016/registration" Register Now
      br
    .large-12.columns  
      hr
    .large-4.columns
        a href="http://monitorama.com"
          img src="/assets/img/monitorama.png" width="350" class="no-shadow"
    .large-8.columns
      h4
        a href="http://monitorama.com" Monitorama 2016
      p.beta Portland, OR | June 27 - 29, 2016
      p Torkel will be giving a talk and demo at Monitorama 2016 in Portland. More details to come. Get your tickets to Monitorama before they sell out! You can also jump on the waiting list after the event is sold out.
      a.button.radius href="http://monitorama.com/#registration" Register Now
      br
    .large-12.columns  
      hr  
      
  .row
    .large-12.columns
      h3.gamma Upcoming Webinars 
      br
      p Please <a href="mailto:contact@grafana.org">email</a> if you know about an event or meetup related to Grafana
      br
      hr
      h3.gamma Recent Webinars 
      br
      h6 Wednesday, February 17, 2016 11:00am EST
      h4 Getting Up and Running with Prometheus and Grafana
      br
      h6 Wednesday, February 24, 2016 1:00pm EST
      h4 Using Grafana for MySQL Monitoring
      br
      br

  .row
    .large-12.columns
      h3.gamma.curated-header GrafanaCon
      br
  .row
    .large-8.columns.text-center
      <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLDGkOdUX1Ujqc7X4ci07RtqTxGNSBX9uG" frameborder="0" allowfullscreen></iframe>
      br
      br
      br
    .large-4.columns.text-center
      a.button.radius.expand href="https://www.youtube.com/watch?v=b2mFBj1CkdY&list=PLDGkOdUX1Ujqc7X4ci07RtqTxGNSBX9uG" See the Full Playlist

  .curated-content
    .row
      .medium-4.columns.community-icons
          h3.gamma.curated-header Get in Touch
          br
          .padding-bottom-medium
            icon.fa.fa-exclamation-circle
            p
              'Log issues on
              a href="https://github.com/grafana/grafana/issues" GitHub
              '.

          .padding-bottom-medium
              icon.fa.fa-github
              p
                'Check out the
                a href="https://github.com/grafana/grafana" source code
                '.

          .padding-bottom-medium
            icon.fa.fa-comments
            p
              'Join the
              a href="https://groups.io/org/groupsio/grafana" mailing list for users and developers
              '.

          .padding-bottom-medium
              icon.fa.fa-twitter
              p
                'Follow
                a href="https://twitter.com/grafana" @grafana
                '  on twitter.

          .padding-bottom-medium
              icon.fa.fa-google-plus
              p
                'The
                a href="https://plus.google.com/communities/102494554956731787258" Grafana community
                '  on Google Plus.

          .padding-bottom-medium
              icon.fa.fa-facebook-square
              p
                'Like the
                a href="https://www.facebook.com/grafana" Grafana Facebook Group
                '.

          .padding-bottom-medium
              icon.fa.fa-comment
              p
                'Chat on freenode in #grafana.
      .medium-4.columns
        h3.gamma.curated-header Recent Articles
        = partial "layouts/_article-links"

      .medium-4.columns
        h3.gamma.curated-header Recent Tweets
        = partial "layouts/_tweets-new"

  .testimonial-wrapper.red
    .row
      .medium-12.columns
        .testimonial
          p Pulsepoint utilizes Grafana to create graphs and dashboards that are both concise and well organized.  Grafana strikes the perfect balance between visually stunning and technically adept.

          p.source – Brian A. Imbriani,
            br Senior Linux Administrator, Pulsepoint
          p.source
            img src="/assets/img/logo-pulsepoint.png" width="200" class="no-shadow"
  br
  br

  .row
      .large-12.columns
        h3.gamma.curated-header Archived Events & Meetups & Video links
        ul
          li
            |  October 19, 2015 All Things Open Conference,
            a href="http://www.slideshare.net/torkelo/fall-in-love-with-graphs-and-metrics-using-grafana"
              |  Fall in love with Graphs and Metrics using Grafana
          li
            |  October 15, 2015 &nbsp;
            a href="http://grafanacon.org" GrafanaCon
            |.  Visit <a href="http://grafanacon.org">conference site</a> for videos.
          li
            'December 3rd 2014, San Francisco Metric Meetup hosted by Rackespace
            br
            'Torkel Ödegaard presenting on Grafana, <a href="http://vimeo.com/channels/sfmetricsmeetup/114585520">video of the presentation</a>.
          li
            'October 30th 2014, DevOps Exchange London
            br
            'Torkel Ödegaard presenting on Grafana, <a href="https://www.youtube.com/watch?v=tgdP1juFGVU">video of the presentation</a>.
          li
            'October 8th 2014, Monitoring NYC hosted by Squarespace
            br
            'Torkel Ödegaard presenting on Grafana, no video recording.
          li
            'May 7th 2014, Monitorama conference in Portland
            br
            'Torkel Ödegaard presenting on Grafana, <a href="http://vimeo.com/95316672">video of the presentation</a>.

